{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <div>
        <h2>Student Registration Form</h2>
        <form>
            <label>Student Name:</label>
            <input type="text" name=""> <br> <br>
            <label>Student Age: </label> 
            <input type="number" name=""> <br> <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>