<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Single User View</title>
</head>
<body>
    <div class="container mt-4">
        <div class="card col-md-6 mx-auto">
            <div class="card-body">
                <h2>Single User Update</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="n" class="form-control my-2" value = "{{p.name}}">
                    <input type="email" name="e" class="form-control my-2" value = "{{p.email}}">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'dt' %}" class = "btn btn-outline-secondary col-sm my-2">Back</a>
                        </div>
                        <div class="col">
                            <input type="submit" value="Update" class = "btn btn-outline-success col-sm my-2">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>